In [117]:
import numpy as np
import pandas as pd

In [118]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

<ipython-input-118-697f91f7354f>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'pets': np.array([['cat', 'dog'],

In [14]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [21]:
pets['age'].min()

19

In [20]:
pets['age'].idxmin()

8

In [28]:
pets.loc[8, 'sex']

'F'

In [38]:
pets.loc[[pets['age'].idxmin()], 'sex']

8    F
Name: sex, dtype: object

In [46]:
pets['num_pets'] = [len(x) for x in pets['pets']]
pets

  sex  age                     pets  num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [44]:
pets.loc[[pets['num_pets'].idxmax()], 'age']

3    56
Name: age, dtype: int32

In [47]:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [70]:
count_pets = pet_series.value_counts()
count_pets.nlargest(1)

cat    5
dtype: int64

In [124]:
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()

46.75